/* Border reset with boder-box */
@mixin flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; 
	
}
@mixin skew($color, $deg){
	content:'';
		position: absolute; 
		height: 55vh;
		width: 100%;
		position: absolute; 
		background: $color;
		transform: skewY($deg);
		overflow: visible; 
		z-index: -1;
}
html{
	box-sizing: border-box;
}
body{
	background-color: #fff;
}
*,*:before,*:after{
	box-sizing: inherit;
	border:0;
	padding: 0;
	margin:0;

}
.container {
  @include flex;
  }

section{
	@include flex; 
	height:45vh;
	width: 100%;
	flex-direction: block;
}
.info-1{
	margin:0 auto;
	color: #92a8d1;	
	&:before{
		margin:{
			top:-4rem;
			bottom:0;
		}
		@include skew(#deeaee,6deg);
	}
	h1{
		font-size:13rem;
	}
	h2{
	margin-top:3rem;
	font-size: 2rem;
	width: 100%;
	align-self:center;
	}
 }
.info-2{
	color:#034f84;
		font-size: 12rem;
	margin:-2rem;
	&:before{
		@include skew(#92a8d1,6deg);
	}
}
.info-3{
	color:#3e4444; 
	font-size: 15rem;
	margin-top: -2rem;
	&:before{
		@include skew(#034f84,-4deg);
	}
}
.info-4{
	margin-top: -4rem;
	&:before{
		@include skew(#3e4444,6deg);
	}
	&:after{
		content: '';
		position:absolute; 
		height:20rem;
		width: 100%; 
		background: #3e4444;
		margin-top: 5rem;
	}
}